*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 350px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1 {
    background-image: url('D:/VIDEO/Belajar/program/front end/CSS/PRAKTEK/card/img/car1.jpg');
}

.car-2 {
    background-image: url('D:/VIDEO/Belajar/program/front end/CSS/PRAKTEK/card/img/car2.jpg');
}

.car-3 {
    background-image: url('D:/VIDEO/Belajar/program/front end/CSS/PRAKTEK/card/img/car3.jpg');
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 20px;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}